<h2>{{"Solitaire.0.Title" | translate}}
  <fa-icon class="fa-pull-right fa-games-help" [icon]="faQuestionCircle"></fa-icon>
</h2>
<div>
  <table class="pcard">
    <tr>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td></td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
    </tr>
    <tr>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
    </tr>
  </table>
</div>
