.game {
  display: flex;
  margin-top:20px;
}

.stack {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.stackDrop {
  position: relative;
  height:900px;
}

.emptyCard {
  background-color:#fff;
  border: 1px solid #eee;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.empty {
  position: absolute;
  z-index: 0;
}

.cdk-drag-placeholder {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img, .emptyCard {
    width:42px;
    height: 64px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img, .emptyCard {
    width:60px;
    height: 92px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img, .emptyCard {
    width: 80px;
    height: 123px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img, .emptyCard {
    width:90px;
    height:138px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
