<h2>{{"Solitaire.0.Title" | translate}}
  <fa-icon class="fa-pull-right fa-games-help" [icon]="faQuestionCircle"></fa-icon>
</h2>
<div>
  <table class="pcard">
    <tr>
      <td><img src="{{cardService.getBackImgUrl()}}"></td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td></td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
      <td>
        <div class="emptyCard"></div>
      </td>
    </tr>
    <tr>
      <td>
        <app-dragable cardIndex="0"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="1"></app-dragable>
        <app-dragable cardIndex="2" class="l2"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="3"></app-dragable>
        <app-dragable cardIndex="4" class="l2"></app-dragable>
        <app-dragable cardIndex="5" class="l3"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="6"></app-dragable>
        <app-dragable cardIndex="7" class="l2"></app-dragable>
        <app-dragable cardIndex="8" class="l3"></app-dragable>
        <app-dragable cardIndex="9" class="l4"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="10"></app-dragable>
        <app-dragable cardIndex="11" class="l2"></app-dragable>
        <app-dragable cardIndex="12" class="l3"></app-dragable>
        <app-dragable cardIndex="13" class="l4"></app-dragable>
        <app-dragable cardIndex="14" class="l5"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="15"></app-dragable>
        <app-dragable cardIndex="16" class="l2"></app-dragable>
        <app-dragable cardIndex="17" class="l3"></app-dragable>
        <app-dragable cardIndex="18" class="l4"></app-dragable>
        <app-dragable cardIndex="19" class="l5"></app-dragable>
        <app-dragable cardIndex="20" class="l6"></app-dragable>
      </td>
      <td>
        <app-dragable cardIndex="21"></app-dragable>
        <app-dragable cardIndex="22" class="l2"></app-dragable>
        <app-dragable cardIndex="23" class="l3"></app-dragable>
        <app-dragable cardIndex="24" class="l4"></app-dragable>
        <app-dragable cardIndex="25" class="l5"></app-dragable>
        <app-dragable cardIndex="26" class="l6"></app-dragable>
        <app-dragable cardIndex="27" class="l7"></app-dragable>
      </td>
    </tr>
  </table>
</div>
