<div class="container">
  <h1>{{"Pyramids.0.Title" | translate}}
    <fa-icon class="fa-pull-right fa-games-help" [icon]="faQuestionCircle"></fa-icon>
  </h1>
  <div class="text-right">{{"Pyramids.0.CardsLeft" | translate}} {{getCardsLeft()}} | {{"Pyramids.0.Points" | translate}} {{getPoints()}}</div>
  <div class="pyramids">
    <div class="pcard">
      <app-card cardNumber="0" line="1"></app-card>
    </div>
    <div class="pcard p1">
      <app-card cardNumber="1" line="2"></app-card>
      <app-card cardNumber="2" line="2"></app-card>
    </div>
    <div class="pcard p2">
      <app-card cardNumber="3" line="3"></app-card>
      <app-card cardNumber="4" line="3"></app-card>
      <app-card cardNumber="5" line="3"></app-card>
    </div>
    <div class="pcard p3">
      <app-card cardNumber="6" line="4"></app-card>
      <app-card cardNumber="7" line="4"></app-card>
      <app-card cardNumber="8" line="4"></app-card>
      <app-card cardNumber="9" line="4"></app-card>
    </div>
    <div class="pcard p4">
      <app-card cardNumber="10" line="5"></app-card>
      <app-card cardNumber="11" line="5"></app-card>
      <app-card cardNumber="12" line="5"></app-card>
      <app-card cardNumber="13" line="5"></app-card>
      <app-card cardNumber="14" line="5"></app-card>
    </div>
    <div class="pcard p5">
      <app-card cardNumber="15" line="6"></app-card>
      <app-card cardNumber="16" line="6"></app-card>
      <app-card cardNumber="17" line="6"></app-card>
      <app-card cardNumber="18" line="6"></app-card>
      <app-card cardNumber="19" line="6"></app-card>
      <app-card cardNumber="20" line="6"></app-card>
    </div>
    <div class="pcard p6">
      <app-card cardNumber="21" line="7"></app-card>
      <app-card cardNumber="22" line="7"></app-card>
      <app-card cardNumber="23" line="7"></app-card>
      <app-card cardNumber="24" line="7"></app-card>
      <app-card cardNumber="25" line="7"></app-card>
      <app-card cardNumber="26" line="7"></app-card>
      <app-card cardNumber="27" line="7"></app-card>
    </div>
    <div class="pcard p6 playcards">
      <div class="alert alert-success text-center" *ngIf="!showMessage">
        <div><b>{{'Pyramids.0.Over' | translate}}</b></div>
        <div>{{'Pyramids.0.OverPoints' | translate | replace: '##POINTS##' : getPoints()}}</div>
        <div class="margin-top-sm"><button class="btn btn-secondary" (click)="newGame()">{{'Pyramids.0.OverNewGame' | translate}}</button></div>
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <img class="pointer" *ngIf="showDeck" (click)="draw()" src="{{this.cardService.getBackImgUrl()}}">
        </div>
        <div class="col-6 text-left">
          <img src="{{this.pyramidsService.activeCard.getImgUrl()}}">
        </div>
      </div>
    </div>
  </div>
</div>
