<div class="container">
  <h1>{{"Pyramids.0.Title" | translate}}
    <fa-icon class="fa-pull-right fa-games-help" [icon]="faQuestionCircle"></fa-icon>
  </h1>
  <div class="pyramids">
    <div class="pcard">
      <img src="{{cards[0].getImgUrl()}}">
    </div>
    <div class="pcard p1">
      <img src="{{cards[1].getImgUrl()}}">
      <img src="{{cards[2].getImgUrl()}}">
    </div>
    <div class="pcard p2">
      <img src="{{cards[3].getImgUrl()}}">
      <img src="{{cards[4].getImgUrl()}}">
      <img src="{{cards[5].getImgUrl()}}">
    </div>
    <div class="pcard p3">
      <img src="{{cards[6].getImgUrl()}}">
      <img src="{{cards[7].getImgUrl()}}">
      <img src="{{cards[8].getImgUrl()}}">
      <img src="{{cards[9].getImgUrl()}}">
    </div>
    <div class="pcard p4">
      <img src="{{cards[10].getImgUrl()}}">
      <img src="{{cards[11].getImgUrl()}}">
      <img src="{{cards[12].getImgUrl()}}">
      <img src="{{cards[13].getImgUrl()}}">
      <img src="{{cards[14].getImgUrl()}}">
    </div>
    <div class="pcard p5">
      <img src="{{cards[15].getImgUrl()}}">
      <img src="{{cards[16].getImgUrl()}}">
      <img src="{{cards[17].getImgUrl()}}">
      <img src="{{cards[18].getImgUrl()}}">
      <img src="{{cards[19].getImgUrl()}}">
      <img src="{{cards[20].getImgUrl()}}">
    </div>
    <div class="pcard p6">
      <img src="{{cards[21].getImgUrl()}}">
      <img src="{{cards[22].getImgUrl()}}">
      <img src="{{cards[23].getImgUrl()}}">
      <img src="{{cards[24].getImgUrl()}}">
      <img src="{{cards[25].getImgUrl()}}">
      <img src="{{cards[26].getImgUrl()}}">
      <img src="{{cards[27].getImgUrl()}}">
    </div>
    <div class="pcard p6 playcards">
      <img src="{{cardService.getBackImgUrl()}}">
      <img src="{{cards[28].getImgUrl()}}">
    </div>
  </div>
</div>
