@import "../solitaire.component.scss";

$lines: 30;

@for $i from 0 through $lines {
  .l#{$i} {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  $lineHeightFactor: 22px;
  $lineHeight: 0px;

  @for $i from 1 through $lines {
    $lineHeight: $lineHeight + $lineHeightFactor;
    .l#{$i} { top: $lineHeight; }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  $lineHeightFactor: 22px;
  $lineHeight: 0px;

  @for $i from 1 through $lines {
    $lineHeight: $lineHeight + $lineHeightFactor;
    .l#{$i} { top: $lineHeight; }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  $lineHeightFactor: 22px;
  $lineHeight: 0px;

  @for $i from 1 through $lines {
    $lineHeight: $lineHeight + $lineHeightFactor;
    .l#{$i} { top: $lineHeight; }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  $lineHeightFactor: 28px;
  $lineHeight: 0px;

  @for $i from 1 through $lines {
    $lineHeight: $lineHeight + $lineHeightFactor;
    .l#{$i} { top: $lineHeight; }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
