<div class="container">
  <h2>{{'GamesTitle' | translate}}</h2>
  <div class="input-group" routerLink="/games/yahtzee">
    <div class="input-group-prepend">
      <span class="input-group-text"><fa-icon [icon]="faDice"></fa-icon></span>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block form-control">{{'Yahtzee.0.Title' | translate}}</button>
  </div>
  <div class="input-group margin-top-sm" routerLink="/games/pyramids">
    <div class="input-group-prepend">
      <span class="input-group-text"><fa-icon [icon]="faCrown"></fa-icon></span>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block form-control">{{'Pyramids.0.Title' | translate}}</button>
  </div>
</div>
