.btn-primary {
  background-color:#00d600;
  color:#fff;
  border-color:#fff !important;
}

.btn-primary:active {
  background-color:#037c03 !important;
}

.input-group-text {
  background-color:#037c03;
  color:#fff;
}
