.toggle {
  width: 20px;
  height: 20px;
  padding: 4px;
  text-align: center;
  background: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  /* auto, since non-WebKit browsers doesn't support input styling */
  margin: auto 10px;
  border: 1px solid #00ce00;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  outline:none;

  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);

}

.toggle:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}
.toggle:after {
  content: '';
  text-shadow: 0 -1px 0 #bfbfbf;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  margin: auto;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

}

.toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;

  -webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);

  background: radial-gradient(ellipse at center,  #e5ffce 0%,#00ce00 40%,#006600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ce00', endColorstr='#006600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.toggle:disabled {
  cursor: auto;
  border: 1px solid #ccc;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  fa-icon {
    font-size:35px;
  }
  .yahtzee {
    width:100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  fa-icon {
    font-size:45px;
  }
  .yahtzee {
    width:100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  fa-icon {
    font-size:50px;
  }
  .yahtzee {
    width:75%;
    margin:0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  fa-icon {
    font-size:50px;
  }
  .yahtzee {
    width:50%;
    margin:0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



