<div class="container">
  <h1>{{"Yahtzee.0.Title" | translate}}
    <fa-icon class="fa-pull-right fa-games-help" [icon]="faQuestionCircle"></fa-icon>
  </h1>
  <form [formGroup]="lockForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <table class="yahtzee">
        <tr>
          <td width="20%"></td>
          <td class="text-center" *ngFor="let dice of dices;let i=index"><fa-icon [icon]="dice.faDice" (click)="checkLock(i)"></fa-icon></td>
          <td width="20%"></td>
        </tr>
        <tr>
          <td class="text-right">{{'Yahtzee.0.Lock' | translate}}</td>
          <td class="text-center"><input type="checkbox" formControlName="lock0" (change)="lock(0, $event)"></td>
          <td class="text-center"><input type="checkbox" formControlName="lock1" (change)="lock(1, $event)"></td>
          <td class="text-center"><input type="checkbox" formControlName="lock2" (change)="lock(2, $event)"></td>
          <td class="text-center"><input type="checkbox" formControlName="lock3" (change)="lock(3, $event)"></td>
          <td class="text-center"><input type="checkbox" formControlName="lock4" (change)="lock(4, $event)"></td>
          <td><button class="btn btn-primary" type="submit" [disabled]="lockSubmit">{{'Yahtzee.0.Roll' | translate}}</button></td>
        </tr>
      </table>
    </div>
  </form>
  <div id="yahtzeeMessage">3 rolls left</div>
  <div class="row margin-top-lg">
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.OnesTitle' | translate}}</div>
      <div>{{'Yahtzee.0.OnesTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Ones">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.ThreeOfAKindTitle' | translate}}</div>
      <div>{{'Yahtzee.0.ThreeOfAKindTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="ThreeOfAKind">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.TwosTitle' | translate}}</div>
      <div>{{'Yahtzee.0.TwosTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Twos">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.FourOfAKindTitle' | translate}}</div>
      <div>{{'Yahtzee.0.FourOfAKindTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="FourOfAKind">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.ThreesTitle' | translate}}</div>
      <div>{{'Yahtzee.0.ThreesTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Threes">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.FullHouseTitle' | translate}}</div>
      <div>{{'Yahtzee.0.FullHouseTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="FullHouse">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.FoursTitle' | translate}}</div>
      <div>{{'Yahtzee.0.FoursTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Fours">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.SmallStraightTitle' | translate}}</div>
      <div>{{'Yahtzee.0.SmallStraightTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="SmallStraight">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.FivesTitle' | translate}}</div>
      <div>{{'Yahtzee.0.FivesTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Fives">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.LargeStraightTitle' | translate}}</div>
      <div>{{'Yahtzee.0.LargeStraightTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="LargeStraight">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.SixesTitle' | translate}}</div>
      <div>{{'Yahtzee.0.SixesTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Sixes">0</span></button>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.YahtzeeTitle' | translate}}</div>
      <div>{{'Yahtzee.0.YahtzeeTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Yahtzee">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.BonusTitle' | translate}}</div>
      <div>{{'Yahtzee.0.BonusTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.ChanceTitle' | translate}}</div>
      <div>{{'Yahtzee.0.ChanceTeaser' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2">
      <button class="btn btn-secondary fa-pull-right" disabled><span id="Chance">0</span></button>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4 col-md-3 col-sm-6"></div>
    <div class="col-md-1 col-sm-2"></div>
    <div class="col-lg-1 col-2"></div>
    <div class="col-lg-4 col-md-3 col-sm-6">
      <div class="font-weight-bold">{{'Yahtzee.0.Total' | translate}}</div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="font-weight-bold fa-pull-right">0</div>
    </div>
    <div class="col-lg-1 col-2"></div>
  </div>
</div>
