body {
  background-color:#000f00 !important;
  color:#fff !important;
  min-height: 600px;
  font-size:16px;
}

.container {
  margin-top:5px;
}

.red {
  color:red !important;
}

.blue {
  color:blue;
}

.yellow {
  color:yellow;
}

.fa-games-help {
  font-size:20px;
  margin-top:10px;
}
