@import "scss/myTheme";
@import "~bootstrap/scss/bootstrap";

.container {
  margin-top:5px;
}

.red {
  color:red !important;
}

.blue {
  color:blue;
}

.yellow {
  color:yellow;
}

.fa-games-help {
  font-size:20px !important;
  margin-top:10px;
}

.margin-top-lg {
  margin-top:50px;
}
